node_modules
assignmentinstructions.json
project_documentation.txt
randomfluff.txt
tools4ever-index-wireframe-alexander-leijen.zip
alexljn5-fullstack-project-err-diagram.mwb
alexljn5-fullstack-project-err-diagram.mwb.bak